{% extends "../base.html" %}

{% load crispy_forms_tags %}

{% block title %} Create Mzalendo {% endblock %}
{% block content %}
    {% include "../navbar.html" %}
    
    <h3 style="text-align: center;color: #000; padding-top: 10px;">Add a Patriot</h3>
    
    <div class="container">
        <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
            
        <button class="btn btn-primary" type="submit">Save</button>
        </form>       
    </div>
{% endblock %}