{% extends "../base.html" %}
{% load crispy_forms_tags %}
{% block title %} Create Mzalendo {% endblock %}
{% block content %}
    {% include "../navbar.html" %}
    
    <h3 class="text-center">Add a Patriot</h3>
    
    <div class="container">
        <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
            
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-secondary" href="{%url 'mzalendo:mzalendo_list'%}">Back</a>
        </form>       
    </div>
{% endblock %}