{% extends "../base.html" %}
{% load static %}

{% block title %} Mzalendo Detail {% endblock %}

{% block content %}
    {% include "../navbar.html" %}
    <div class="container">
        <img src="{{ mzalendo_post.cover.url }}" alt="Cover Image" class="img-fluid">
        <h3>{{ mzalendo_post.first_name }} {{ mzalendo_post.last_name }}</h3>
        <p><strong>Gender:</strong> {{ mzalendo_post.gender }}</p>
        <p><strong>County:</strong> {{ mzalendo_post.county }}</p>
        <p><strong>Age:</strong> {{ mzalendo_post.age }}</p>
        <p><strong>Life:</strong> {{ mzalendo_post.life }}</p>
        <p><strong>Date Deceased:</strong> {{ mzalendo_post.dod }}</p>
        <p><strong>Author:</strong> {{ mzalendo_post.author }}</p>
        <p><strong>Date Created:</strong> {{ mzalendo_post.date_created }}</p>
        <p><strong>Updated By:</strong> {{ mzalendo_post.updated_by }}</p>
        <p><strong>Approved:</strong> {{ mzalendo_post.approved }}</p>
        
        <button>{% if id %} Edit {% else %} New {% endif %}</button>
    </div>
{% endblock %}
