{% extends "../base.html" %}

{% load crispy_forms_tags %}

{% block title %} Edit {% endblock %}

{% block content %}
    {% include "../navbar.html" %}

    <h3 style="text-align: center;color: #000;">Edit</h3>

    <div class="container">
    <form action="{% url 'mzalendo:mzalendo_edit' mzalendo.pk %}" method="post">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-secondary" href="{% url 'mzalendo:mzalendo_detail' mzalendo.pk %}">Back</a>
    </form>
    </div>
{% endblock %}
