{% load humanize %}
{% load hitcount_tags %}

    <div class="col">
      <div class="card h-100">
        {% if mzalendo.cover %}
        <img src="{{ mzalendo.cover.url }}" alt="Cover Image" class="card-img-top">
        {% endif %}
        <div class="card-body">  
          <h5 class="card-title"> SHUJAA </b></h5>
          <p class="card-text"><a class="page-link" href="{% url 'mzalendo:mzalendo_detail' mzalendo.pk %}"><b>Name : {{ mzalendo.name }}</b></a></p>
          <p class="card-text"><b>Age : {{ mzalendo.age }}</b></p>
          <p class="card-text"><b>Gender : {{ mzalendo.gender }}</b></p>
          <p class="card-text"><b>County : {{ mzalendo.county }}</b></p>
        </div>
      </div>
    </div>
  
