{% extends "../base.html" %}

{% load crispy_forms_tags %}

{% block title %} Sign In {% endblock %}

{% block content %}
    {% include "../navbar.html" %}
    
    <div class="container">
        <h3 style="margin:20px">Sign In</h3>
        <form  action="{% url 'mzalendo:login' %}" method="post">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            <div class="row g-3">
                <div class="col-3">
                  {{form.username | as_crispy_field}}
                </div>
              </div>
              <div class="row g-3" >
                <div class="col-3">
                    {{form.password | as_crispy_field}}
                  </div>
              </div>
            
            <button class="btn btn-primary" type="submit">Sign In</button>
        </form>
    </div>
{% endblock %}
