{% extends "../base.html" %}

{% load crispy_forms_tags %}

{% block title %} Sign in {% endblock %}


{% block content %}
    {% include "../navbar.html" %}
    <div class="container">
        <form class="form-signin span4" id="login_form" action="{% url 'mzalendo:login' %}" method="post">
            <h2 class="form-signin-heading">Sign in Here</h2>
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            
            <button class="btn btn-primary" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}
