{% extends "../base.html" %}

{% load crispy_forms_tags %}

{% block title %} Sign Up {% endblock %}

{% block content %}
    {% include "../navbar.html" %}    
    <h3 style="text-align: center;color: #000">Sign Up</h3>
        <div class="container">
            <form action="{% url 'mzalendo:register' %}" method="post">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form|crispy }}
                
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </form>
        </div>
{% endblock %}
