* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", Georgia Bold;
  }
  
  #mzalendo-list {
    max-width: 1000px;
    border-radius: 4px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .pag-navigation{
    margin: 10px;
  }